/* Fix header and navbar at the top */
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; /* Required to avoid transparency under content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Push content below fixed header */
.content-below {
  margin-top: 307px; /* Adjust based on actual height of Header + Navbar */
}

/* Styling for the dashboard description section */
.dashboard-info {
  padding: 40px 20px;
  /* background: linear-gradient(to bottom, rgb(253, 253, 253), #ffefdc, rgb(147, 147, 147));; */
  text-align: center;
  border-bottom: 2px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-info h2 {
  color: #003366;
  font-size: 28px;
  margin-bottom: 15px;
}

.dashboard-info p {
  font-size: 16px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
