.about-page {
  font-family: "Segoe UI", sans-serif;
  padding: 40px;
  background: linear-gradient(135deg, #f9fafc, #eef3f9);
}

.about-hero {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
  color: #1d3557;
}

.about-text p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  width: 50%;
  height: 50%;
  max-height: 50%;
  
  object-fit: cover;

  ;
}

.about-image img:hover {
  transform: scale(1.03);
}

.about-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.box h3 {
  color: #1d3557;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.box p {
  color: #555;
  font-size: 1rem;
}
